<ion-header>
  <ion-navbar>
    <button ion-button menuToggle id="menuButtonId">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="selectVehicle" id="showSelectVehicleDivId" *ngIf="!selectedVehicleStatus">
    <ion-item>
      <ion-label id="messageLableId">  Please select vehicle </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>  Zone</ion-label>
        <ion-select [(ngModel)]="zoneData" id="zoneListDropDownId" (ionChange)="openVehicleList()">
        <ion-option *ngFor="let zone of zoneList" value="{{zone.id}}">{{zone.name}}</ion-option>
      </ion-select>
      </ion-item>

      <ion-item *ngIf="showVehicleList">
        <ion-label> Vehicle</ion-label>
          <ion-select [(ngModel)]="vehicleSelected" id="vehicleListDropDownId" (ionChange)="showVehicleData()" >
          <ion-option *ngFor="let vehicle of vehicleList" value="{{vehicle.vehicle_id}}">{{vehicle.name}}</ion-option>
        </ion-select>

      </ion-item>
 
      <button ion-fab   align="right" color="primary" *ngIf="vehicleSelected" id = "showSameVehicleDetailsButtonId" (click)="showVehicleData()" > Show </button>  
  </div>
  <div id="showVehicle" *ngIf="selectedVehicleStatus" id="showVehicleDataMapId">
         <button ion-fab mini id="selectVehicleButtonId" (click)="showSelectVehicle()"> Back</button>  
          <ion-item  >
             <ion-label  id="selectedVehicleNameId"> Name  :  {{selectedVehicle.name}}</ion-label></ion-item>
             <ion-item  > <ion-label id="selectedVehicleModelId" > Model : {{selectedVehicle.model}} </ion-label></ion-item>
             <ion-item  > <ion-label  id="selectedVehiclePowerId"> Power Level : {{selectedVehicle.power_level_percent}} </ion-label> </ion-item>
             <ion-item  >  <ion-label id="selectedVehicleDistanceId" > Distance From Command Center : {{selectedVehicle.distanceFromCommandCenter}} </ion-label> 
          </ion-item>
  </div>
  <div id="map" style="height:65%; width:100% margin:0; display:block;" >
  </div>

  <div id="inputCordinates" *ngIf="!selectedVehicleStatus">
  <ion-label *ngIf="!customDistance" id="distanceLableId"> Enter Details to find Distance from Command Cecnter</ion-label>
  <ion-label *ngIf="customDistance" id="customDistanceLableId"> Distance : {{customDistance}} </ion-label>
   
 <button ion-button mini id= "resetButton" *ngIf="customDistance" (click)="resetDetails()"> Reset </button>  

    <button ion-fab mini id= "caluclateDistanceButton" *ngIf="!customDistance" (click)="caluclateDistance()"> Find </button>  
     <ion-item >
            <ion-input [(ngModel)]="customLat"  id= "customLattitudeInput" type="text" placeholder="Lattitude" ></ion-input>
            <ion-input [(ngModel)]="customLong"  id="customeLongitudeInput" type="text" placeholder="Longitude" ></ion-input>
            
      </ion-item>
 

  </div>
  
</ion-content>
